<html>
<head>
    <title>Login Form</title>
    <link rel="'stylesheet" type="text/css" href="'./style.css">
</head>
<body>
     <div class="Login-form">
         <h1>Login Formsrercfe</h1>
         <form action="{% url 'function' %}" method="POST">
            <p>Email-id</p>

            <input type="email" name="email" placeholder="email">
             </div>
             <p>Password</p>
             <input type="password" name="password" placeholder="Password">
             <button type="submit"> Submit </button>
          </form>
     </div>
</body>
</html>